.Main {
    color: #1f1f1f;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.Main div h1 {
    font-size: 32px;
}

.Main div textarea {
    border: 0;
    max-width: 90%;
    min-width: 90%;
    height: 150px;
    padding: 10px 14px;
    box-shadow: 0 0 0 2px #999 inset;
    font-size: 14px;
}

.Main div button {
    border: 0;
    width: 20%;
    height: 40px;
    box-shadow: 0 0 0 2px #999 inset;
}